.BuildControls {
    align-items: center;
    background: #CF8F2E;
    box-shadow: 0 2px 1px #ccc;
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 10px 0;
    width: 100%;  
}